html{
  background:url('https://1.bp.blogspot.com/-SSxILPdag8Q/YQeDFwuFj4I/AAAAAAAAAKQ/OCy9T4YlfsAbDlklzd5RyjmNmbzt3inngCLcBGAsYHQ/s320/20210801_094553.jpg') no-repeat center center fixed ;
  -webkit-background-size:100% 100%;
  -moz-background-size: 100% 100%;
}
